/*
***************************
*        SYLVAVIO         *
*                         *
*         COMPS 1.1       *
*                         *
*    Feel free to use     *
*                         *
*  And contact me         *
*  sylvavio@gmail.com     *
*                         *
***************************
*/
/* this value has to be the same as mobileBreakPoint in comps.js */
/* COLORS */
/* text color */
/* text bg color */
/* primary color */
/* box shadow */
/* over behaviour */
/* Backgrounds ccar_URL */
/* Dimensions */
/* Carousel bg mask gradient */
/*
****************
*   CAROUSEL   *
****************
*/
.ccar__active {
  display: flex !important;
}

#ccar_carousel {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#ccar_carousel .ccar_description__slide,
#ccar_carousel .ccar_details__slide,
#ccar_carousel .ccar_title__slide {
  background-color: white;
  color: black;
}

#ccar_carousel .ccar_description__slide,
#ccar_carousel .ccar_details__slide {
  display: inline-block;
  margin: 0.5rem 0;
  line-height: 0.5rem;
  padding: 0.5rem;
}

#ccar_carousel .ccar_title__slide {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

#ccar_carousel .ccar_slide__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  padding: 0;
}

#ccar_carousel .ccar_side {
  height: 100%;
  width: 2rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  margin: auto 0.5rem;
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#ccar_carousel #ccar_prev__button {
  text-align: left;
}

#ccar_carousel #ccar_next__button {
  text-align: right;
}

.ccar_slide {
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  width: 95%;
  box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
}

.ccar_description__container {
  flex-grow: 1;
}

.ccar_button__container__slide {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.ccar_button__container__slide button {
  margin: 0 1rem;
  box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
}

#ccar_slide1 {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), ccar_url("./carousel-img/img-test-1.png");
}

#ccar_slide2 {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), ccar_url("./carousel-img/img-test-2.png");
}

#ccar_slide3 {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), ccar_url("./carousel-img/img-test-3.png");
}

.ccar_slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.ccar_slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 550px) {
  #ccar_carousel {
    width: 80%;
    margin: 2rem auto 2rem auto;
    padding-bottom: 1rem;
    box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
  }
  #ccar_carousel .ccar_title__slide {
    box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
  }
  .ccar_slide {
    border-radius: 0px;
    box-shadow: none;
    display: none;
  }
  .ccar_slide1 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), ccar_url("./carousel-img/img-test-1.png");
  }
  .ccar_slide2 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), ccar_url("./carousel-img/img-test-2.png");
  }
  .ccar_slide3 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), ccar_url("./carousel-img/img-test-3.png");
  }
  #ccar_slide1,
  #ccar_slide2,
  #ccar_slide3 {
    background-image: none;
  }
  .ccar_side {
    display: flex !important;
  }
  .ccar_slide__container {
    flex-direction: row;
    padding: 0;
  }
}

/*
****************
*     NAVBAR   *
****************
*/
.cnav_toggler-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

#cnav_toggler-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  transition: all 0.4s ease-out;
}

.cnav_list {
  max-height: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  height: 100%;
  overflow: hidden;
}

.cnav_list a {
  text-decoration: none;
}

.cnav_slide {
  transition: max-height 0.4s ease-out;
}

.cnav_list-opened {
  max-height: 16rem;
}

.cnav_anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.cnav_rotate {
  transform: rotate(45deg);
  background-color: #fffb00 !important;
  border: 1px solid black;
}

.cnav_item {
  font-size: 1rem;
  display: flex;
  padding: 0.8rem;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  align-items: center;
  text-align: center;
  transition: all 1.5s;
}

.cnav_item:hover {
  background-color: #fffb00;
  border-radius: 0 15px 0 15px;
}

@media screen and (min-width: 550px) {
  .cnav_navbar__toggler-icon {
    display: none;
  }
  .cnav_navbar__list {
    max-height: 100%;
    flex-direction: row;
    align-items: center;
  }
}
/*# sourceMappingURL=comps.css.map */