/*
***************************
*  SYLVAVIO's COMPONENT   * 
*  CAROUSEL v1.0          *
*                         *
*  Feel free to use       *
*                         *
*  And contact me         *
*  sylvavio@gmail.com     *     
*                         *
***************************
*/
/* Backgrounds URL */
/* Dimensions */
/* this value has to be the same as mobileBreakPoint in carousel.js */
/* COLORS */
#cc_carousel {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

#cc_carousel .cc_description__slide,
#cc_carousel .cc_details__slide,
#cc_carousel .cc_title__slide {
  background-color: black;
  color: #fffb00;
}

#cc_carousel .cc_description__slide,
#cc_carousel .cc_details__slide {
  display: inline-block;
  margin: 0.5rem 0;
  line-height: 0.5rem;
  padding: 0.5rem;
}

#cc_carousel .cc_title__slide {
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

#cc_carousel .cc_slide__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: left;
  padding: 0;
}

#cc_carousel .cc_side {
  height: 100%;
  width: 2rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  margin: auto 0.5rem;
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

#cc_carousel #cc_prev__button {
  text-align: left;
}

#cc_carousel #cc_next__button {
  text-align: right;
}

.cc_slide {
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  width: 95%;
  box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
}

.cc_description__container {
  flex-grow: 1;
}

.cc_button__container__slide {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.cc_button__container__slide button {
  margin: 0 1rem;
  box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
}

#cc_slide1 {
  display: flex;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url("./carousel-img/img-test-1.png");
}

#cc_slide2 {
  display: flex;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url("./carousel-img/img-test-2.png");
}

#cc_slide3 {
  display: flex;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url("./carousel-img/img-test-3.png");
}

.cc_slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cc_slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 550px) {
  #cc_carousel {
    width: 80%;
    margin: 2rem auto 2rem auto;
    padding-bottom: 1rem;
    box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
  }
  #cc_carousel .cc_title__slide {
    box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
  }
  .cc_slide {
    border-radius: 0px;
    box-shadow: none;
  }
  .cc_slide1 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url("./carousel-img/img-test-1.png");
  }
  .cc_slide2 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url("./carousel-img/img-test-2.png");
  }
  .cc_slide3 {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)), url("./carousel-img/img-test-3.png");
  }
  #cc_slide1,
  #cc_slide2,
  #cc_slide3 {
    background-image: none;
  }
  .cc_side {
    display: flex !important;
  }
  .cc_slide__container {
    flex-direction: row;
    padding: 0;
  }
}
/*# sourceMappingURL=carousel.css.map */