/*
***************************
*  SYLVAVIO's COMPONENT   * 
*  CAROUSEL v1.0          *
*                         *
*  Feel free to use       *
*                         *
*  And contact me         *
*  sylvavio@gmail.com     *     
*                         *
***************************
*/


// Variables

/* Backgrounds URL */
$url1: "./carousel-img/img-test-1.png";
$url2: "./carousel-img/img-test-2.png";
$url3: "./carousel-img/img-test-3.png";

/* Dimensions */
$mobile-breakpoint: 550px; /* this value has to be the same as mobileBreakPoint in carousel.js */
$height-carousel: 20rem;

/* COLORS */
$color-prev-next: rgba(
  $color: #000000,
  $alpha: 1,
);

$color-slide-text: rgba(
  $color: #fffb00,
  $alpha: 1,
  );

$color-bg-text: rgba(
  $color: #000000,
  $alpha: 1,
);

$mask-color: #ffffff;
$alpha-top: 0.75;
$alpha-bottom: 0.5;
$orientation: 0deg;


@mixin box {
  box-shadow: 1px 1px 5px rgba(226, 20, 20, 0.247);
}


// END OF VARIABLES TO SET




$linear-bg-mask: linear-gradient(
  $orientation,
  rgba($mask-color, $alpha: $alpha-top),
  rgba($color: $mask-color, $alpha: $alpha-bottom)
);



// CAROUSEL

#cc_carousel {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  .cc_description__slide,
  .cc_details__slide,
  .cc_title__slide {
    background-color: $color-bg-text;
    color: $color-slide-text;
  }

  .cc_description__slide,
  .cc_details__slide {
    display: inline-block;
    margin: 0.5rem 0;
    line-height: 0.5rem;
    padding: 0.5rem;
  }

  .cc_title__slide {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.2rem;
  }

  .cc_slide__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    padding: 0;
  }

  .cc_side {
    height: 100%;
    width: 2rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    margin: auto 0.5rem;
    font-size: 2.5rem;
    color: $color-prev-next;
    font-weight: bold;
    cursor: pointer;
  }

  #cc_prev__button {
    text-align: left;
  }
  #cc_next__button {
    text-align: right;
  }
}

.cc_slide {
  height: $height-carousel;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  width: 95%;
  @include box();
}

.cc_description__container {
  flex-grow: 1;
}

.cc_button__container__slide {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;

  button {
    margin: 0 1rem;
    @include box();
  }
}

#cc_slide1 {
  display: flex;
  background-image: $linear-bg-mask, url($url1);
}
#cc_slide2 {
  display: flex;
  background-image: $linear-bg-mask, url($url2);
}
#cc_slide3 {
  display: flex;
  background-image: $linear-bg-mask, url($url3);
}

.cc_slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cc_slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

// MEDIA QUERIES

@media screen and (min-width: $mobile-breakpoint) {
  #cc_carousel {
    width: 80%;
    margin: 2rem auto 2rem auto;
    padding-bottom: 1rem;
    @include box();

    .cc_title__slide {
      @include box();
    }
  }

  .cc_slide {
    border-radius: 0px;
    box-shadow: none;
  }

  .cc_slide1 {
    background-image: $linear-bg-mask, url($url1);
  }
  .cc_slide2 {
    background-image: $linear-bg-mask, url($url2);
  }
  .cc_slide3 {
    background-image: $linear-bg-mask, url($url3);
  }

  #cc_slide1,
  #cc_slide2,
  #cc_slide3 {
    background-image: none;
  }

  .cc_side {
    display: flex !important;
  }

  .cc_slide__container {
    flex-direction: row;
    padding: 0;
  }

}